/* 
    Document   : index
    Created on : 28/06/2012, 15:42:40
    Author     : Heron Santos
    Description:
        Purpose of the stylesheet follows.
*/

@import "reset.css";

* {
    cursor: default;
}

html,
body {
    overflow: hidden;
}

body {
    background: #000;
    font: 12px/1 'Lucida Grande', Arial, 'Liberation Sans', FreeSans, sans-serif;

    background: url(wallpaper.jpg) no-repeat center center fixed; 

}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/*#propaganda {
}

#propaganda div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: none;

    background: no-repeat center center fixed; 

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#propaganda div img {
    width: 100%;
    height: 100%;
    margin: 0;
    border: 0;
    padding: 0;
}

#propaganda div.primeiro {
    z-index: 1;
}

#propaganda div.segundo {
    z-index: 2;
}*/

#barra_topo {
    width: 100%;
    height: 35px;
    top: 0;
    z-index: 2;
    position: absolute;

    color: white;
    font-size: 150%;
    font-weight: bold;

    background-color: #000; /*rgba(0,0,0,0.5);*/

}

#barra_topo div {
    margin: 8px 0 0 10px;
}

#barra_relogio {
    padding: 3%;
    top: 35px;
    right: 0;
    z-index: 999;
    position: absolute;

    text-align: center;
    color: white;
}

#barra_relogio #dia {
    font-weight: bold;
    text-shadow: black 0.1em 0.1em 0.2em;
}

#barra_relogio #hora {
    font-size: 250%;
    font-weight: bold;
    text-shadow: black 0.1em 0.1em 0.2em;
}

#barra_relogio #data {
    font-size: 150%;
    font-weight: bold;
    text-shadow: black 0.1em 0.1em 0.2em;
}

#barra_noticia {
    position: absolute;
    z-index: 999;


    width: 60%;
    /*width: 90%;
    margin: 0px 5%;*/
    bottom: 0;

    background-color: rgba(255,255,255,0.8);
}

#barra_noticia div#noticia {
    margin: 10px;

    color:black;
    font-size: 150%;
}

#barra_noticia div#fonte {
    margin-top: 3px;
    color: gray;
    font-size: 80%;
    font-weight: bold;
}

#pin {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    z-index: 9999;

    background-color: rgba(0,0,0,0.7);
}

#pinbox {
    position: relative;
    z-index: 99999;

    width: 20%;
    left: 30%;
    top: 30%;
    padding: 5px;

    text-align: center;

    border: rgba(0,0,0,0.6) solid 1px;
    background-color: rgba(255,255,255,0.8);
}

#pinform #pintitle {
    padding: 2px;
    text-align: left;
    font-size: 200%;
    font-weight: bold;
    color: rgba(0,0,0,0.6);
}

#pinform #pinmsg{
    padding: 2px;
    text-align: left;
    font-size: 100%;
    font-weight: bold;
    color: rgba(255,0,0,0.6);
}

#pinform input {
    position: relative;
    margin: 0;
    padding: 0;
    width: 98%;

    font-size: 280%;
    font-weight: bold;
    text-align: center;

    color: rgba(0,0,0,0.6);
    border: rgba(0,0,0,0.6) solid 1px;
    background-color: rgba(255,255,255,0.6);
}

.supersized {
    display: none;
}

/*

ul {
    position: relative;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul li {
    float: left;
    margin: 0;
    padding-right: 150px;

}

*/